h1{  
	font-family: 'Great Vibes', cursive; 
	color: #42d7f4;  
	font-size: 170px; 
  position: absolute; 
  top: 50px;
  left: 280px;

 } 
 h4{  

 	 font-family: 'Niconne', cursive; 
 	 font-size: 50px; 
 	 color:white; 
 	 padding-top: 30px;
  } 
  body{ 
  background-image: url("https://st.depositphotos.com/1868963/3722/v/950/depositphotos_37227401-stock-illustration-illustration-of-woman-lips-with.jpg"); 
  background-size: cover; } 
  :any-link {
  	color:#E55934 ; 
  	text-decoration: none;
  } 
  .options{ 
  position: absolute; 
  top: 520px; 
  left: 380px; } 
  h3{ 
  font-family: 'Niconne', cursive; 
  font-size: 50px;  
  font-weight: bold;  }