.footer { 
position: fixed; 
bottom: 0px; 
left: 0px; 
text-align: center;   
width: 100%; 
color:white; 
font-weight: bolder;
 } 
 .navbar{ 
 position: fixed; 
 top: 0px;  
 width: 100%;
  } 
  .body{  

  padding-top: 70px; } 
  .jumbotron{ 
  background-image: url(http://www.widehdimages.com/uploads/large/abstract/abstract-background-wallpaper.jpg);  
   padding-top: 70px;
   } 
   h1 ,p{ 
   color: white;  
   font-weight: bold;
    } 
    .back_img{ 
    opacity: 0.5; }